DJANGO_SECRET_KEY=cambiar-esto
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
POSTGRES_DB=virguel
POSTGRES_USER=virguel
POSTGRES_PASSWORD=cambiar-esto
POSTGRES_HOST=localhost
POSTGRES_PORT=5434
POWERBI_TOKEN=cambiar-esto
# Sólo producción:
# DJANGO_CSRF_TRUSTED_ORIGINS=https://erp.virguel.com.ar
